body{
    margin: 0;
    font-family: sans-serif;

    /*text-align: center;*/

    #layout-main{
        height: 100%;

        h1{
            padding-left: 10px;
            margin:0;
            padding-top: 20px;
        }
    }
}